<!-- this partial allows the images from the JSON data file to be injected into the DOM chevron arrows allow user to go forward/backward to view image choices -->

<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue">
      <a href="#/images/books"><img class="chevron chevron-left" width="50" height="50" src="http://alexoliveira.me/Hawaii/images/chevron-left.png" /></a>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow">
      <ul rn-carousel rn-carousel-control rn-carousel-index="carouselIndex">
        <li ng-repeat="image in img">
          <img id="choices" ng-src="{{ image.src }}" width="400" height="300" ng-dblclick="nephewRequest(image)" />
          <p id="choices">{{ image.text }}</p>
        </li>
      </ul>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box pink">
      <a href="#/images/splash"><img class="chevron chevron-right" width="50" height="50" src="http://alexoliveira.me/Hawaii/images/chevron-right.png" /></a>
    </div>
  </ion-slide>
</ion-slide-box>
